@import "bootstrap/scss/bootstrap.scss";
/* icons */
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

@import "toggle.scss";

@import "vue-multiselect/dist/vue-multiselect.css";

.th-action {
  width: 10%;
}
