/* toggle for tpStatus */
.toggle-container {
  $toggle-height: 36px;
  $toggle-width: 80px;

  input {
    opacity: 0;
    width: 0;

    &:checked {
      + .toggle {
        background-color: #82E0AA !important;

        .circle {
          background-color: #1E8449;
          left: calc($toggle-width - $toggle-height);
        }
      }
    }
  }

  .toggle {
    position: relative;
    border-radius: 100px;
    width: $toggle-width;
    height: $toggle-height;
    background-color: rgb(234, 234, 234);

    .circle {
      transition: all .4s ease-in-out;
      // left: 0;
      position: absolute;
      left: 7%;
      top: 50%;
      transform: translate(0, -50%);
      border-radius: 100px;
      background-color: white;
      width: calc($toggle-height - 6px);
      height: calc($toggle-height - 6px);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
    }
  }
}
